@import"https://rsms.me/interface/interface.css";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 21px;
}

body {
  margin: 0;
  padding: 0;
}

.b--black-03 {
  border-color: rgba(0,0,0,.03);
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0 0 1.5em;
  line-height: 1.15;
}

li, p {
  line-height: 1.5;
}

li {
  margin-bottom: .25rem;
}

a {
  color: inherit;
}

ul {
  padding-left: 0;
}

button, input, label, textarea {
  font-size: 1rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  -webkit-appearance: none;
  box-shadow: none;
}

button {
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #787878;
}

::-moz-placeholder {
  color: #787878;
}

:-ms-input-placeholder {
  color: #787878;
}

::placeholder {
  color: #787878;
}

/* More styles are here. The full styles are omitted due to the character limit */
/* Make sure you include the entire style text in your actual CSS file. */
