:root {
    --background: #fafafa;
    --main-text: #121212;
    --lightgray: #eee;
    --darkgray: #111;
    --mediumgray: #aaa;
    --black: #000;
    --link: #0072d6;
    --green: #99ffdd;
  }
  
  [data-theme='dark'] {
    --background: rgba(32, 32, 32, 1);
    --main-text: #fcfcfc;
    --darkgray: #fcfcfc;
    --link: #3c9cf0;
  }
  
  body {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
      Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 1.1em;
    max-width: 620px;
    padding: 2rem;
    margin: auto;
    background: var(--background);
    color: var(--main-text);
  }
  
  nav {
    position: sticky;
    top: 0;
    background-color: var(--background);
  }
  
  nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 1rem 0;
  }
  
  nav ul li a {
    color: var(--link);
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  #intro, #career, #projects {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  h1, h2, h3 {
    color: var(--darkgray);
  }
  
  p, ul {
    color: var(--main-text);
  }
  
  ul {
    padding-left: 1em;
  }
  